<template>
  <div>
    <div class="tatel"><h3></h3></div>
    <form>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="">latitude</label>
          <input
            type="text"
            class="form-control"
            i
            placeholder="Enter latitude"
            v-model="latitude"
          />
        </div>
        <div class="col-md-6 col-12">
          <label for="">longitude</label>
          <input
            type="text"
            class="form-control"
            i
            placeholder="Enter longitude "
            v-model="longitude"
          />
        </div>
        <div class="col-md-6 col-12">
          <label for="">generationtime_ms</label>
          <input
            type="text"
            class="form-control"
            i
            placeholder="Enter generationtime_ms"
            v-model="generationtime_ms"
          />
        </div>
        <div class="col-md-6 col-12">
          <label for="">utc_offset_seconds</label>
          <input
            type="text"
            class="form-control"
            i
            placeholder="Enter utc_offset_seconds"
            v-model="utc_offset_seconds"
          />
        </div>
        <div class="col-md-6 col-12">
          <label for="">timezone</label>
          <input
            type="text"
            class="form-control"
            i
            placeholder="Enter timezone"
            v-model="timezone"
          />
        </div>
        <div class="col-md-6 col-12">
          <label for="">timezone_abbreviation</label>
          <input
            type="text"
            class="form-control"
            i
            placeholder="Enter timezone_abbreviation"
            v-model="timezone_abbreviation"
          />
        </div>
        <div class="col-md-6 col-12">
          <label for="">elevation</label>
          <input
            type="text"
            class="form-control"
            i
            placeholder="Enter elevation"
            v-model="elevation"
          />
        </div>
      </div>
    </form>
    <div class="blcokbtn">
      <button type="button" class="btn btn-success" @click="ajoute()">
        ajoute
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      latitude: '',
      longitude: '',
      generationtime_ms: '',
      utc_offset_seconds: "",
      timezone: "",
      timezone_abbreviation: "",
      elevation: '',
    };
  },
  methods: {
    ajoute() {
      var data = {
        latitude: this.latitude,
        longitude: this.longitude,
        generationtime_ms: this.generationtime_ms,
        utc_offset_seconds: this.utc_offset_seconds,
        timezone: this.timezone,
        timezone_abbreviation: this.timezone_abbreviation,
        elevation: this.elevation,
      };

      var data = this.$store.dispatch("ajouteclimatique", data);
    },
  },
};
</script>

<style>
label {
  font-size: 26px;
}

.blcokbtn {
  text-align: center;
}
.from .col-md-6.col-12 {
  margin: 18px 0;
}
</style>