body {
    background: linear-gradient(limegreen, transparent),
      linear-gradient(90deg, skyblue, transparent),
      linear-gradient(-90deg, coral, transparent);
    background-blend-mode: screen;
  }
  div:first-child {
    margin: 20px 0;
    table:first-of-type {
      margin: 15px 2px;
      background: #ffffff !important;
    }
    table:last-of-type {
      margin: 15px 2px;
      background: #fdfdef !important;
    }
    .head {
      text-align: center;
      margin: 44px 35px;
    }
    .img-container {
      text-align: center;
    }
  }
  