<template>
  <div>
    <ul class="nav">
      <li class="nav-item">
        <nuxt-link to="/" class="nav-link"> List de les climatique</nuxt-link>
      </li>
      <li class="nav-item">
        <nuxt-link class="nav-link" to="/ajoute">
          Ajout une climatique</nuxt-link
        >
      </li>
    </ul>
    <div class="site">
      <Nuxt />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.site {
  padding: 25px 5%;
}
</style>